

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-image: url("./background.jpg"); */
}


.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 80vh;
  color: blue;
  background-color: red;
}

.landing-content{
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}


@media (orientation: portrait) {
  .landing-content{
    flex-direction: column;
  }
  .intro-text{
    padding-right: 20px;
  }
}

@media (orientation: landscape) {
  .intro-text{
    margin-left: 20px;
    margin-top: -10px;
  }
}

.logo{
  text-shadow: 2px 2px;
  flex: 1;
}

.intro-text{
  padding-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(36, 36, 36);
  flex: 1;
  color: red;

  /* border: 5px solid rgb(212, 212, 212);
  border-radius: 5px; */
}

.big-logo{
  width: 100%;
}


