.App {
  display: flex;
  flex-direction: column;
  /* background-image: url("./background.jpg"); */
}

.top-bar{
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  position: sticky;
  top: 0;
}

.top-bar img{
  width: 80px;
  padding: 5px;
}

.top-bar .title{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content{
  backdrop-filter: blur(4px);
  /* background-color: rgba(61, 61, 61, 0.8); */
}


.App-logo {
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}



.week{
  display: flex;
  width: auto;
}

.day{
  border: 1px solid rgb(216, 216, 216);
  border-collapse: collapse;
  width: 50px;
  height: 50px;
}

.day:hover {
  background-color: rgb(195, 216, 247);
}

.hide{
  display: none;
}

.day.has-events{
  background-color: rgb(146, 199, 172);
}

.day-events{
  position: absolute;
  background-color: rgb(218, 218, 218);
  border-collapse: collapse;
  padding: 10px;
  border-radius: 3px;
}

.calendar-months{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.year-header{
  background-color: rgb(255, 241, 203);
  font-size: 2em;
  position: sticky;
  top: 0px;
}


.year-number{
  margin-left: 20px;
  margin-right: 20px;
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: animate-top;
  animation-duration: 0.4s;
  background-color:  rgba(0,0,0,0.5) !important;
}

.event-modal{
  background-color: #ffffff;
}

.month{
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: rgb(240, 240, 240);
  padding-left: 20px;
  padding-right: 20px;
}

@keyframes animate-top {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.fake-link{
  cursor: pointer;
  user-select: none;
}

.fake-link:hover{
  text-decoration: underline;
}