.App {
  display: flex;
  flex-direction: column;
  /* background-image: url("./background.jpg"); */
  height: 100vh;
}


.right-toolbar{
  display: flex;
}

.right-toolbar div{
  margin-right: 20px;
}

.content{
  backdrop-filter: blur(4px);
  /* background-color: rgba(61, 61, 61, 0.8); */
}


.App-logo {
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}


.month{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  border-collapse: collapse;
  background-color: rgb(26, 47, 73);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
}

.month-name{
  font-size: 18px;
  margin-bottom: 5px;
}


.week{
  display: flex;
  width: auto;
  
}

.day{
  width: 75px;
  height: 75px;
  cursor: pointer;
}


.hide{
  display: none;
}

.day.has-events{
  background-color: rgb(41, 71, 109);
  overflow: hidden;

}

.days-events{
  font-size: 10px;
}

.day-events{
  position: absolute;
  background-color: rgb(218, 218, 218);
  border-collapse: collapse;
  padding: 10px;
  border-radius: 3px;
}

.calendar-months{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.edit-calendar{
  font-size: 8px;
}


.year-number{
  margin-left: 20px;
  margin-right: 20px;
}

.calendar-name{
  margin-left: 20px;
  cursor: pointer;
  color: black;
}

.day:hover {
  background-color: rgb(195, 216, 247);
  color: black;
}

.calendar-name:hover{
  text-decoration: underline;
}

.ReactModal__Overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: animate-top;
  animation-duration: 0.4s;
  background-color:  rgba(0,0,0,0.5) !important;
}

.event-modal{
  background-color: #ffffff;
}


@keyframes animate-top {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.fake-link{
  cursor: pointer;
  user-select: none;
}

.fake-link:hover{
  text-decoration: underline;
}

.input-standard{
  border: 1px solid rgb(70, 78, 100);
  border-radius: 3px;
}

.save-button{
  border: 1px solid black;
  background-color: rgb(30, 150, 230);
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.danger-button{
  border: 1px solid black;
  background-color: rgb(230, 30, 30);
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}